<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <a href="'/">홈으로 이동</a>
    <form name="profileM">
        <p>로그인 정보</p>
        <p>받은 회원 정보 아이디 <%= datas.id%></p>
        <input type="hidden" id="id" value="<%= datas.id%>">
        <span>아이디: </span><input id="userid" type="text" value="<%= datas.userid %>" ><br/>
        <span>패스워드: </span><input id="userpw" type="text" value="<%= datas.pw %>" ><br/>
        <span>이름: </span><input id="username" type="text" value="<%= datas.name %>"><br/>
        <button type="button" id="edit" onclick="pro_edit()">회원가입 정보 수정</button><br/>
        <button type="button" id="exit" onclick="pro_exit()">회원가입 탈퇴</button>
    </form>
    <script>

        const form = document.forms['profileM'];
        console.log(form.username.value);
        
        function pro_edit() {
            axios({
                method : 'PATCH',
                url : '/user/profile/edit',
                data : {
                    id : Number(form.id.value),
                    userid : form.userid.value,
                    pw : form.userpw.value,
                    name : form.username.value,
                },
            }).then((res) => {
                console.log('res',res);
                if (res.data.result) {
                    alert('회원정보가 수정되었습니다.');
                }
            });
        }

        function pro_exit() {
            axios({
                method : 'DELETE',
                url : '/user/exit',
                data : {
                    id : Number(form.id.value),
                },
            }).then((res) => {
                if(res.data.result){
                    alert('회원 탈퇴 처리 되었습니다.')
                }
            });
        }






        // let userid = document.getElementById('userid').value;
        // let userpw = document.getElementById('userpw').value;
        // let username = document.getElementById('username').value;
        // userid = data.userid;
        // userpw = data.pw;
        // username = data.name;
        

        // const list = {
        //     userid : userid,
        //     name : username,
        //     pw : userpw,
        // }

        // axios({
        //     method : 'GET',
        //     url : '/user/profile',
        //     data : list,
        // }).then((infor) => {
        //     // document.getElementById('userid').value = infor.data.userid;
        //     // document.getElementById('username').value = infor.data.name;
        //     // document.getElementById('userpw').value =  infor.data.pw;
        //     console.log(infor.data.pw);//왜 못불러오지;;
        // });
    </script>
</body>
</html>